
/* Fixed width */

#page.hfeed {
  width: 90%;
  max-width: 80em;
  margin: 0 auto;
}



/* Grid
*/

.col {
  width: 60%;
  float: left;
}
.col-2 {
  width: 30%;
  margin-left: 5%;
}



/* Typography
*/

body { font-size:100%; line-height:1.25; }
h1, h2, h3 { margin-top:0; margin-bottom:0; }
h1 { font-size:2em; padding:1.25em 0; }
h2 { font-size:1.75em; padding:1.51786em 0; }
h3 { font-size:1.5em; padding:1.45833em 0; }




/* Header
*/

#branding h1 {
  padding-top: 0;
}
#branding img {
  width: 40%;
}


/* Startpage
*/


#question, #answer {
  padding: 1.25em;
  font-size: 130%;
}
.triangle-bottom {
  border-width: 2.5em;
  margin-bottom: 1.25em;
  margin-left: 43%;
}
#question {
  text-align: center;
}

.home #product {
  float: left;
  width: 45%;
}
.home #product, .page #product {
  margin: 0 5% 5% 0;
}
.home #product, 
.home #product #title,
.home #product #body,
.page #product, 
.page #product #title,
.page #product #body {
  overflow: hidden;
}
.home #product #title,
.page #product #title {
  position: relative;  
}
.home #product #title h1,
.page #product #title h1 {
  padding: .312em;
}



/* Products
*/

.category #access, .single #access {
  margin-left: 20%;
}

.category #product, .single #product {
  width: 30%;
  margin-right: 5%;
  float: left;  
  text-align: center;
}
.category #product.c3, .single #product.c3 {
  margin-right: 0;
}
.category #product > div, .single #product > div {
  padding: 0 .625em 2.5em;
}
.category #product #title, .single #product #title {
  height: 8.5em;
}
.category #product .pane, .single #product .pane {
  display: none;
  padding: 1.25em .625em;
}
.category #product #body, .single #product #body {
  padding: 1.25em 0;
}
.category #product h3, .single #product h3 {
  padding: .312em;
  cursor: pointer;
}
.category #product ul, .single #product ul {
  text-align: left;
}


#product #shopping, #product #details {
  text-align: left;
}

.single #nav-single, .single #comments {
  display: none;
}



/* Shopping cart
*/

secondary {
  margin: 2.5em 0;
}

#shopping {
  padding: 1.25em 0;
}
form.eshop, 
table.eshop tr th,
table.eshop tr td {
  padding: 1.25em;
}
table.eshop {
  margin-bottom: 0;
}
.single table.eshop, .category table.eshop {
  width: 65%;
}
fieldset.fld1 {
  border: none;
}

form.eshop #update {
  margin-right: 1.25em;
}
form.eshop label.hide, 
table.eshop caption,
form label.finalize small,
#wpmem_reg legend,
#wpmem_reg div > small {
  display: none;
}
li.gotocheckout {
  -moz-border-radius: 6px 6px 6px 6px;
  border-radius: 6px;
  cursor: pointer;
  padding: .55em;  
}
li.gotocheckout a {
  text-decoration: none;
}

.custdetails p, .custdetails fieldset.fld2, .custdetails fieldset.fld6 {
  display: none;
}

form.eshop ul li {
  margin-bottom: 1.25em;
}
form.eshop input.iqty {
  width: 10%;
}
.eshopdetails {
  display: none;
}
form.eshop legend {
  display: none;
}
tr, th, td {
  vertical-align: middle;
}
tr.stotal th,
tr.stotal td {
  padding-top: 1.25em;
}
form.eshopcart table #cartDelete img,
form.eshopcart table caption {
  display: none;
}
ul.continue-proceed {
  list-style: none;
  margin: 2.5em 0;
}
ul.continue-proceed li {
  float: left;
  position: relative;
  margin-right: 1.25em;
}
.cartopt {
  margin-top: 1.25em;
}

.cartlink, .checkoutlink {
  border-radius: 6px 6px 6px 6px;
  cursor: pointer;
  padding: 0.55em;
  display: inline-block;
  margin-bottom: 1.25em;
}




/* Login form , WP Members
*/

#wpmem_reg label,
#wpmem_reg input,
#wpmem_reg textarea,
#wpmem_login label,
#wpmem_login input,
#wpmem_login textarea {
  width: 40%;
}
input#rememberme {
  width: auto;
}
input.buttons {
  display: block;
}
#wpmem_reg form div,
#wpmem_login form div {
  margin-bottom: 1.25em;
}
#wpmem_reg label[for="delivery"] {
  font-size: larger;
  font-weight: bold;
}
#wpmem_reg input#delivery {
  display: none;
}

#wpmem_msg p {
  padding: .625em 0;
}


/* Footer
*/

#colophon {
  margin: 2.5em 0;
}
#access.footer {
  margin-top: 0;
}
#access ul {
  margin: 0;
}



/* General
*/


img {
  width: 100%;
  height: auto;
}


/* hiding TwentyEleven elements */
.assistive-text, .skip-link {
  display: none;
}

/* Setting up block elements (like adding class '.block') */
#branding, #main, #content, #primary, #secondary, footer {
  float: left;
  width: 100%;
}



/* Main menu
*/

#access {
  margin: .625em 0;
}
#access ul {
	list-style: none;
}
#access li {
	float: left;
	position: relative;
	margin-bottom: 0;
	padding: .312em;
}
#access a {
	display: block;
	padding: 0 .312em;
	text-decoration: none;	
}
#access ul ul {
	display: none;
	float: left;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 2.5em;
	left: 0;
	z-index: 99999;
}
#access ul ul li a {
  padding-left: 1.5em;
}
#access ul ul ul {
	left: 100%;
	top: 0;
}
#access ul ul a {
	height: auto;
	line-height: 1.4em;
	padding: .612em;
	width: 15em;
}
#access ul li:hover > ul {
	display: block;
}



