
/* Fixed width */

#page.hfeed {
  width: 90%;
  max-width: 80em;
  margin: 0 auto;
}



/* Grid
*/

.col {
  width: 60%;
  float: left;
}
.col-2 {
  width: 30%;
  margin-left: 5%;
}



/* Typography
*/

body { font-size:100%; line-height:1.25; }
h1, h2, h3 { margin-top:0; margin-bottom:0; }
h1 { font-size:2em; padding:1.25em 0; }
h2 { font-size:1.75em; padding:1.51786em 0; }
h3 { font-size:1.5em; padding:1.45833em 0; }




/* Header
*/

#branding h1 {
  padding-top: 0;
}
#branding img {
  width: 40%;
}


/* Startpage
*/


#question, #answer {
  padding: 1.25em;
  font-size: 130%;
}
.triangle-bottom {
  border-width: 2.5em;
  margin-bottom: 1.25em;
  margin-left: 43%;
}
#question {
  text-align: center;
}

#product {
  float: left;
  width: 45%;
  height: 15em;
  margin: 0 5% 5% 0;
}
#product #title {
  position: relative;
  top: -15.3em;
  height: 12.5em;
  width: 94.5%;
  padding: 1.25em 2%;
}
#product #title h1 {
  padding: 0;
}



/* Single
*/



#nav-single {
  display: none;
}

.single #product {
  width: 80%;
  margin: 0 0 10%;
}
.single aside ul ul {
  display: none;
}
.single #comments {
  display: none;
}



/* Shopping cart
*/

#shopping {
  padding: 1.25em 0;
}
.page form.eshop, 
.page table.eshop tr th,
.page table.eshop tr td {
  padding: 1.25em;
}
.page table.eshop {
  margin-bottom: 0;
}
.page fieldset.fld1 {
  border: none;
}

form.eshop #update {
  margin-right: 1.25em;
}
form.eshop label.hide, 
table.eshop caption,
form label.finalize small,
#wpmem_reg legend,
#wpmem_reg div > small {
  display: none;
}
li.gotocheckout {
  -moz-border-radius: 6px 6px 6px 6px;
  border-radius: 6px;
  cursor: pointer;
  padding: .55em;  
}
li.gotocheckout a {
  text-decoration: none;
}

.custdetails p, .custdetails fieldset.fld2, .custdetails fieldset.fld6 {
  display: none;
}

form.eshop ul li {
  margin-bottom: 1.25em;
}
form.eshop input.iqty {
  width: 10%;
}
.single .eshopdetails {
  display: none;
}
form.eshop legend {
  display: none;
}
.page tr, .page th, .page  td {
  vertical-align: middle;
}
.page tr.stotal th,
.page tr.stotal td {
  padding-top: 1.25em;
}
.page form.eshopcart table #cartDelete img,
.page form.eshopcart table caption {
  display: none;
}
.page ul.continue-proceed {
  list-style: none;
  margin: 2.5em 0;
}
.page ul.continue-proceed li {
  float: left;
  position: relative;
  margin-right: 1.25em;
}


/* Login form , WP Members
*/

#wpmem_reg label,
#wpmem_reg input,
#wpmem_reg textarea,
#wpmem_login label,
#wpmem_login input,
#wpmem_login textarea {
  width: 40%;
}
input#rememberme {
  width: auto;
}
input.buttons {
  display: block;
}
#wpmem_reg form div,
#wpmem_login form div {
  margin-bottom: 1.25em;
}
#wpmem_reg label[for="delivery"] {
  font-size: larger;
  font-weight: bold;
}
#wpmem_reg input#delivery {
  display: none;
}

#wpmem_msg p {
  padding: .625em 0;
}


/* Footer
*/

#colophon {
  margin: 2.5em 0;
}
#access.footer {
  margin-top: 0;
}
#access ul {
  margin: 0;
}



/* General
*/


img {
  width: 100%;
  height: auto;
}


/* hiding TwentyEleven elements */
.assistive-text, .skip-link {
  display: none;
}

/* Setting up block elements (like adding class '.block') */
#branding, #main, #content, #primary, #secondary, footer {
  float: left;
  width: 100%;
}



/* Main menu
*/

#access {
  margin: .625em 0;
}
#access ul {
	list-style: none;
}
#access li {
	float: left;
	position: relative;
	margin-bottom: 0;
	padding: .312em;
}
#access a {
	display: block;
	padding: 0 .312em;
	text-decoration: none;	
}
#access ul ul {
	display: none;
	float: left;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 2.5em;
	left: 0;
	z-index: 99999;
}
#access ul ul li a {
  padding-left: 1.5em;
}
#access ul ul ul {
	left: 100%;
	top: 0;
}
#access ul ul a {
	height: auto;
	line-height: 1.4em;
	padding: .612em;
	width: 15em;
}
#access ul li:hover > ul {
	display: block;
}



