

body {
  font-family: Abel, Arial, sans-serif;
  color: #2B2922;
  background: url(stripe.png) transparent;
}


a, a:visited {
  color: #2B2922;
  text-decoration: none;
}
#access a:hover, a:hover {
  text-decoration: underline;
}


/* Header
*/

#access ul li {
  background: white;
}



/* Frontpage
*/

#question, .single h1.entry-title a {
  background: #DC574E;
  text-shadow: 1px 1px #e2726a; /* +2 */
}
#answer {
  background: #F7E4A2;
  text-shadow: 1px 1px #fefbf0; /* +5 */
}
.triangle-bottom {
  border-color: #DC574E transparent transparent;
}

#products #product #title {
  background: #2B2922;
  opacity: 0;
}
#products #product #title a {
  color: white;
}
#products #products img, .single article img {
  border: 1px solid #eee;
  width: 98%;
}


/* Single
*/


#product.active {
  background: red;
}


/* Footer
*/

#colophon {
  border-top: 1px dotted;
  padding-top: 1.25em;
  margin: 1.25em 0;
}



/* Shopping cart and all forms
*/

form.eshop, table.eshop, #wpmem_reg, #wpmem_login {
  background: #F7E4A2;
}
form.eshop fieldset {
  border-color: #eee;
}


input, textarea, .button, li.gotocheckout {  
  -moz-box-shadow: inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow: inset 0px 1px 0px 0px #ffffff;
	box-shadow: inset 0px 1px 0px 0px #ffffff;
	
	background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #A7BD5B), color-stop(1, #8da342) );
	background: -moz-linear-gradient( center top, #A7BD5B 5%, #8da342 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#A7BD5B', endColorstr='#8da342');
	background-color: #A7BD5B;
	
	border: 1px solid #6e7f33;
	
	color: #2B2922 !important;	
	text-decoration:none !important;
	text-shadow: 1px 1px 0px #dbe4bc;	
}
input.button:hover, a.button:hover {
	background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #8da342), color-stop(1, #A7BD5B) );
	background: -moz-linear-gradient( center top, #8da342 5%, #A7BD5B 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#8da342', endColorstr='#A7BD5B');
	background-color: #8da342;
}
input.text, input.password, textarea {
  background: #fff;
}



/* Login forms 
*/

#wpmem_reg fieldset,
#wpmem_login fieldset {
  border-color: transparent;
}
#wpmem_reg input,
#wpmem_reg textarea,
#wpmem_login input,
#wpmem_login textarea {
  background: white;
}


#wpmem_msg {
  background: #DC574E;
}


/* General
*/

h1 a:hover {
  text-decoration: none;
}

